body {background: #000000;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  align-content: center;}

h1 {color: #ffffff;
  text-align: left;
  font-size: 42px;
  padding: 10px;
  margin: 0px; 
  float: left;}

h2 {color: #ffffff;
  text-align: center;
  padding: 300px;
  margin: 20px;
  background-image: url("images/banner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 2px 2px #000000;}

h3 {color: #ffffff;
  text-align: center;
  font-size: 38px;
  padding: 50px;
  margin: 20px;
  text-decoration-line: underline;}

p {color: #ffffff;
    }

ul {color: #ffffff;
    text-align: centre;}

ol {color: #ffffff;
    text-align: centre;}

details {color: #ffffff;
      position: sticky;
      font-size: 42px;
      top: 0;
      float: right;}

table {color: #ffffff;
        width: 80%;
        padding: 15px;
        margin: 15px auto;
        text-align: center;
      }

td { border: 0px #ffffff;
        border-style: solid;
        padding: 15px;
        margin: 15px;}

a {color: orange;
}

a:hover {color: orangered;}

.workimg {height: 400px;
          width: 400px;
          border: solid #ffffff 2px;
          padding: 1px;
          margin: 10px;
        }

.workimg:hover {
  opacity: 0.5;
}

#aboutsect {width: 70%;
margin: auto;
}

#bio {float: left;
  padding: 2%;
  width: 46%;
  text-align: left;}

#jklynk {float: right;
      width: 50%;
      border: ;
      padding: px;
      margin: px;}

#topheader {width: auto;
position: sticky;
top: 0;}

#footer {width: 70%;
margin: auto;}

.courier-prime-regular {
font-family: "Courier Prime", monospace;
font-weight: 400;
font-style: normal;}






