html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #ffcc99 0%, #99ccff 100%);
  color: black;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
  align-content: center;
  margin-bottom: 100px;
}

h1 {
  color: #000000;
  text-align: left;
  font-size: 42px;
  font-weight: normal;
}

h2 {color: #000000;
  text-align: center;
  padding: 100px;
  margin: 20px;
  }

h3 {color: #000000;
  text-align: center;
  font-size: 38px;
  padding: 50px;
  margin: 20px;
  text-decoration-line: underline;}

embed {
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
  border: black solid 1px;
}

img{
  max-width: 100%;
}

input {
  opacity: 0.3;
}

textarea {
  opacity: 0.3;
  width: 100%;
}

iframe {
  max-width: 100%;
}

a:visited {
  color: #cc8100;
}

#menudetails {color: #ffffff;
  padding: 10px;
      position: sticky;
      font-size: 32px;
      font-weight: normal;
      top: 0;
      float: right;}


#topheader {width: auto;
position: sticky;
top: 0;}

#notheader {
  background: rgba(255, 255, 255, 0.60);
  margin: auto;
  padding: 50px;
  margin-top: 50px;
  width: 30%;
}

/* for centering images */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  float: right;
}

/*for scrolling gallery stuff*/

div.scroll-container {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  border: 10px white solid;
}

div.scroll-container img {
  height: 500px;
  max-width: inherit;
  padding-right: 10px;
}

/* For mobile fitting */

@media only screen and (max-width: 1000px) {
  #topheader {
    position: static;
  }
  #notheader{
    width: 80%;
  }
}


